@import 'config-styles/reset.scss'; // Подключение файла обнуляющих стилей
@import 'config-styles/_vars.scss'; // Подключение файла с переменными
@import 'config-styles/fonts.scss'; // Подключение файла со стилями

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Body

body {
  background-color: $white;
  font-family: Araboto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
}

.page {
  overflow: hidden;
  color: $dark-gray;
  font-weight: normal;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  cursor: pointer;
}
