.comment-adding {
  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    display: flex;
    width: 100%;

    .comment-input {
      padding-right: 10px;

      margin: 0 10px;
    }

    .send-button {
      padding: 16px;
    }
  }
}
