@import '../../../assets/styles/scss/config-styles/vars';

.main {
  margin: $header-height $right-sidebar-width 0 $left-sidebar-width;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: $main-bg-color;

  .container {
    display: flex;
    justify-content: space-between;

    max-width: $main-container-width;
    padding: $main-container-padding;
    margin: auto;

    .posts {
      flex-basis: 62%; /* 62% экрана занимает конкретно блок с постами */
      margin-right: 30px;
    }

    .events {
      flex-basis: 35%; /* 35% экрана занимает конкретно блок с ивентами */
    }
  }
}
