@import '../../../assets/styles/scss/config-styles/vars';

.post {
  position: relative;

  background-color: $white-color;

  border-radius: 20px;
  padding: 15px;
  margin-top: 30px;

  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

  & > * {
    margin-bottom: 20px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .author {
    height: 55px;

    display: flex;

    a {
      .icon {
        width: 50px;
        height: 50px;

        margin-right: 20px;
      }
    }

    .name-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .name {
        font-weight: 700;
        font-size: 17px;
      }

      .time,
      .availability {
        font-size: 14px;

        color: $light-gray-color;
      }

      .time {
        margin-right: 15px;
      }
    }

    svg {
      position: absolute;
      right: 20px;

      cursor: pointer;
    }
  }

  .text {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;

    color: $dark-gray-color;
  }


  .image {
    border-radius: 20px;
    cursor: pointer;
  }

  .info {
    display: flex;
    justify-content: space-between;

    color: $light-gray-color;

    .liked-users {
      display: flex;

      div:first-child {
        margin-right: 7px;
      }

      a {
        .icon {
          width: 28px;
          height: 28px;

          margin-right: -5px;
        }
      }

      .gray-circle {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $dark-gray-color;
        color: $white-color;
      }
    }

    .info-inner {
      display: flex;

      div:first-child {
        margin-right: 7px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;

    border-top: 1px solid #DCDFE4;
    border-bottom: 1px solid #DCDFE4;

    .button {
      display: flex;
      align-items: center;

      font-weight: 500;
      font-size: 17px;

      cursor: pointer;

      color: $dark-gray-color;

      transition: opacity 0.25s;

      svg:first-child {
        margin-right: 10px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .liked {
      color: red;

      transition: color 0.25s;

      svg {
        fill: red;

        transition: fill 0.25s;
      }
    }
  }
}

.comments {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  .more {
    background-color: #f0f2f5;
    border: none;
    border-radius: 5px;
    color: $dark-gray-color;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .more:hover {
    background-color: #e4e6eb;
  }
}
