$main-bg-color: #F7F8F9;
$white: #FFFFFF;
$dark-gray: #4E5D78;
$light-gray: #A0A8B6;

$z-index-header: 1000;
$z-index-left-sidebar: 1000;
$z-index-right-sidebar: 1000;

$header-height: 80px;
$left-sidebar-width: 240px;
$right-sidebar-width: 312px;
$main-container-padding: 30px;

$main-container-width: 1370px;
