@font-face {
  font-family: 'Araboto';
  font-weight: 400;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Thin-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Araboto';
  font-weight: 500;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Light-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Araboto';
  font-weight: 600;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Normal-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Araboto';
  font-weight: 700;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Medium-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Araboto';
  font-weight: 800;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Bold-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Araboto';
  font-weight: 900;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Black-400.ttf) format('truetype');
}
