@font-face {
  font-family: 'Araboto';
  font-weight: 100;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Thin-100.woff2) format('woff2'),
                         url(../../../assets/fonts/Araboto-Thin-100.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Araboto';
  font-weight: 300;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Light-300.woff2) format('woff2'),
  url(../../../assets/fonts/Araboto-Light-300.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Araboto';
  font-weight: 400;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Normal-400.woff2) format('woff2'),
  url(../../../assets/fonts/Araboto-Normal-400.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Araboto';
  font-weight: 500;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Medium-500.woff2) format('woff2'),
  url(../../../assets/fonts/Araboto-Medium-500.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Araboto';
  font-weight: 700;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Bold-700.woff2) format('woff2'),
  url(../../../assets/fonts/Araboto-Bold-700.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Araboto';
  font-weight: 900;
  src: local('Araboto'), url(../../../assets/fonts/Araboto-Black-900.woff2) format('woff2'),
  url(../../../assets/fonts/Araboto-Black-900.woff) format('woff');
  font-display: swap;
}
