.comment-adding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .comment-adding,
  .send-button {
    border-radius: 4px/6.7px;
  }

  .comment-input {
    flex-basis: 82%;
  }

  .send-button {
    flex-basis: 8%;
  }
}
