@font-face {
  font-family: 'Outfit';
  font-weight: 100;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Thin-100.woff2) format('woff2'),
  url(../../../fonts/Outfit-Thin-100.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 200;
  src: local('Outfit'),
  url(../../../fonts/Outfit-ExtraLight-200.woff2) format('woff2'),
  url(../../../fonts/Outfit-ExtraLight-200.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 300;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Light-300.woff2) format('woff2'),
  url(../../../fonts/Outfit-Light-300.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Regular-400.woff2) format('woff2'),
  url(../../../fonts/Outfit-Regular-400.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 500;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Medium-500.woff2) format('woff2'),
  url(../../../fonts/Outfit-Medium-500.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src: local('Outfit'),
  url(../../../fonts/Outfit-SemiBold-600.woff2) format('woff2'),
  url(../../../fonts/Outfit-SemiBold-600.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Bold-700.woff2) format('woff2'),
  url(../../../fonts/Outfit-Bold-700.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 800;
  src: local('Outfit'),
  url(../../../fonts/Outfit-ExtraBold-800.woff2) format('woff2'),
  url(../../../fonts/Outfit-ExtraBold-800.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 900;
  src: local('Outfit'),
  url(../../../fonts/Outfit-Black-900.woff2) format('woff2'),
  url(../../../fonts/Outfit-Black-900.woff) format('woff');
  font-display: swap;
}
