@import './src/styles/scss/config-styles/vars';

.field {
  width: 100%;
  background-color: $main-bg-color;
  border-radius: 10px;
  font-weight: 700;

  svg {
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
