@import '../../../assets/styles/scss/config-styles/vars';

.field {
  width: 100%;
  max-height: $input-max-width;

  background-color: $main-bg-color;

  border-radius: 10px;

  transition: all 0.3s;

  &:focus-within {
    box-shadow: rgba(100, 100, 111, 0.2) 0 5px 20px 0;
  }

  svg {
    margin-right: 10px;

    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
