@import '../../../assets/styles/scss/config-styles/vars';

.logo {
  min-width: $left-sidebar-width - 20px; // header padding-left = 20px
  min-height: 42px;

  margin: 20px;

  display: flex;

  .logo-link {
    max-width: 44px + 32px + 10px;

    display: flex;
    align-items: center;
    outline: none;
  }

  .logo-icon {
    margin-right: 10px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .logo-title {
    font-size: 21px;
    font-weight: 700;

    color: $dark-gray-color;
  }
}