@import '../../../assets/styles/scss/config-styles/vars';

.header {
  position: fixed;

  width: 100%;
  height: $header-height;

  top: 0;
  right: 0;

  z-index: $z-index-header;

  background-color: $white-color;

  .header-content {
    display: flex;
    padding: 20px;

    .logo {
      min-width: $left-sidebar-width - 20px; // header padding-left = 20px

      display: flex;

      .logo-link {
        max-width: 44px + 32px + 10px;

        display: flex;
        align-items: center;
        outline: none;
      }

      .logo-icon {
        margin-right: 10px;
      }

      .logo-title {
        font-size: 21px;
        font-weight: 700;
        color: $dark-gray-color;
      }
    }

    .profile {
      min-width: $right-sidebar-width;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin: 0 0 0 auto;

      .profile-name {
        font-size: 17px;
        font-weight: 600;
        word-break: break-all;

        margin-right: 20px;
      }

      .profile-icon {
        border-radius: 8px;
      }
    }

    .search-wrapper {
      max-width: 1350px;
      width: 100%;

      .search {
        max-width: 540px;
      }
    }
  }
}


