@import './src/styles/scss/config-styles/vars';

.wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: $z-index-header + 1;
  transition: all 0.5s;
}

.active {
  opacity: 1;
  visibility: visible;

  & + .post-adding {
    z-index: $z-index-header + 2;

    textarea {
      transition: height 0.5s !important;
      overflow-y: scroll !important;
      height: $input-max-width * 3 !important;
    }
  }
}

.post-adding {
  position: relative;
  background-color: $white;
  padding: 15px;
  border-radius: 20px;

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .field {
      overflow: hidden;
      max-height: $input-max-width * 3;

      textarea {
        overflow-y: hidden;
        padding: 16.5px 14px;
        box-sizing: border-box;
        /*transition: height 100ms;*/
        // Hide scrollbar for IE, Edge and Firefox
        -ms-overflow-style: none; // IE and Edge
        scrollbar-width: none; // Firefox

        // Hide scrollbar for Chrome, Safari and Opera
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .icon {
      margin-right: 15px;
    }
  }

  .bot {
    display: flex;

    .addition-block {
      display: flex;
      align-items: center;
      margin-right: 30px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      .addition-text {
        font-size: 17px;
        font-weight: 700;
        margin-left: 12px;
      }
    }

    .button {
      width: 100%;
      max-width: 130px;
      margin: 0 0 0 auto;
    }
  }
}
